.container {
  max-width: 1200px;
  padding: 20px;
  box-sizing: border-box;
  margin: 0px auto;
}

.title {
  border-left: var(--cor-p3) 15px solid;
  margin-top: 40px;
  margin-bottom: 40px;
}

.title h1 {
  margin-left: 20px;
}

.button {
  display: inline-block;
  padding: 16px 50px;
  background: linear-gradient(#d64242, #b42c2c);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  text-align: center;
  font-weight: bold;
  margin-top: 40px;
  color: var(--cor-w);
  transition: 0.3s;
}

.button:hover {
  opacity: 0.9;
}
