@media (max-width: 800px) {
  /* Main */

  .content {
    grid-template-columns: 1fr 2fr;
    align-items: start;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .content .sub-text,
  .content .text {
    font-size: 1rem;
  }

  .content .sub-text {
    margin-top: 20px;
  }

  /* History */

  .history-bg {
    box-shadow: none;
  }

  .history {
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 20px;
  }

  .history-content {
    padding: 0px;
  }

  .history p {
    font-size: 1rem;
  }

  .history h2 {
    margin-bottom: 20px;
  }

  .button {
    padding: 8px 25px;
    margin-top: 20px;
  }

  /* team */

  .team {
    margin-top: 20px;
    padding-bottom: 60px;
  }

  .team-content img {
    height: 40px;
  }

  .team-content li {
    padding: 20px 40px;
  }

  /* curiosity */

  .tabs-content {
    padding: 40px;
  }

  .tab-content.active {
    gap: 20px;
  }

  .tabs-menu .tab-btn,
  .tab-content.active li,
  .tab-content.active p {
    font-size: 0.875rem;
  }

  .tab-content.active h3 {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }

  /* Newsletter */

  .newsletter-conteudo h3 {
    font-size: 1.2rem;
  }

  .newsletter-conteudo p,
  .newsletter-form input {
    font-size: 0.875rem;
  }
}
